<!DOCTYPE html>
<html>
<head>
  <title>DeviseWithTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <%= render 'layouts/messages' %>
  <%= yield %>

</body>
</html>
